<p>Please enter your personal info:</p>
<%= text_field_tag :first_name, "", placeholder: "First Name", class: "span4 form-control" %><br>
<%= text_field_tag :last_name, "", placeholder: "Last Name", class: "span4 form-control" %><br>
<%= text_field_tag :phone, "", placeholder: "Phone", class: "span4 form-control" %><br>
<p>Shipping Address:</p>
<%= text_field_tag :country_name, "", placeholder: "Country", class: "span4 form-control" %><br>
<%= text_field_tag :region, "", placeholder: "Region", class: "span4 form-control" %><br>
<%= text_field_tag :locality, "", placeholder: "City", class: "span4 form-control" %><br>
<%= text_field_tag :street_address, "", placeholder: "Street Address", class: "span4 form-control" %><br>
