<% title "Gallery" %>
<div class="jumbotron">
  <div class="container">
    <h1>List of cars</h1><br>
    <% if signed_in?(:admin) %>
      <%= link_to new_product_path, class: 'btn btn-default btn-md' do %>
       Add product
      <% end %>
    <% end %>
    <div class="row"><br>
      <% @products.each do |product| %>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= link_to product do %>
              <%= image_tag product.photo.url %>
            <% end %>
            <div class="caption">
              <h3><strong><%= product.name %></strong></h3>
              <p><strong>Price:</strong> <%= number_to_currency(product.price, :precision => (product.price.round == product.price) ? 0 : 2) %></p>
              <p><strong>Overview:</strong> <%= product.overview %></p>
              <%= link_to "Overview", product, class: 'btn btn-lg btn-primary' %>
              <%= link_to "Add to Cart", root_path, class: 'btn btn-lg btn-primary pull-right' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
