<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to(image_tag("BMW_logo.png", alt: "BMW logo", width: 90, height: 90, title: "Home Page"), root_path, id: "logo") %>
    <div class="collapse navbar-collapse extraClass" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-tabs">
        <li class="<%= active_class(root_path) %>"><%= link_to "Products", root_path %></li>
        <li class="<%= active_class(static_path(:about)) %>"><%= link_to "About", static_path(:about) %></li>
        <li class="<%= active_class(contact_path) %>"><%= link_to "Contact Us", contact_path %></li>
        <div class="pull-right">
          <div class="nav_item">
            <%= link_to "Log In", root_path, class: "btn btn-default btn-default" %>
            <%= link_to "Sign Up", root_path, class: "btn btn-default btn-default" %>
          </div>
          <div class="pull-right cart-btn">
            <%= link_to root_path, class: 'btn btn-primary btn-md' do %>
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
              Cart: <span class="badge">0</span>
            <% end %>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
